@model Selit24_webapp.Models.UserInfoModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "UserDetails";
}

<h1>UserDetails</h1>

<div>
    <h4>UserInfoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locationcountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locationcountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locationstate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locationstate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locationdistrict)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locationdistrict)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locationlocality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locationlocality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locationpincode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locationpincode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Useremail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Useremail)
        </dd>
    </dl>
</div>
<div>
     <input type="button" value="Edit" class="btn btn-warning" onclick="location.href='@Url.Action("EditUser", new { id = Model.Userid })'" />
    <input type="button" value="Back to List" class="btn btn-primary" onclick="location.href='@Url.Action("Users")'" />
</div>
